
/* CSS files add styling rules to your content */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root {
  --color-bg: #ff8000;
  --color-text-main: #ff8000;
  --color-primary: #ff8000;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: 'Play', sans-serif;
  --font-family-header: 'Play', sans-serif;
}

Import fonts 
@font-face {
  font-family: Xhers Regular;
  src: url("https://cdn.glitch.global/79d0dbe7-59f7-4454-bbed-58c136ee44f4/Xhers%20Regular.otf?v=1645541519323")
    format("opentype");
}
@font-face {
  font-family: Xhers Regular;
  font-weight: bold;
  src: url("https://cdn.glitch.global/8b7152b8-c49c-4319-b36a-cd03a4014887/Xhers%20Regular.otf?v=1643831221301")
    format("opentype");
}

body {
  font-family: 'Play', sans-serif;
  background-color:#060606;
margin:0;
overflow-x:hidden;
}

h1 {
  color: #aa09f0;
  font-size: 40px;
  justify-content:center;
  display:flex;
  align-items:center;
  margin: 30px;
}

h2 {
  color: #01e080;
  font-size: 20px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:10px 50px 50px 100px;
}

h3 {
  color: #0f9bcc;
  font-size: 18px;
  display:flex;
  margin: 10px 150px 1px 150px;
  justify-content:center;
  align-items:center;
}

h4 {
  color: #fd1c84;
  font-size: 20px;
  display:flex;
  margin: 10px 150px 1px 150px;
  justify-content:center;
  align-items:center;
}

h5 {
  color: #7CFC00;
  font-size: 35px;
  display:flex;
  margin: 10px 0px 1px 100px;

}
h5 a {
  color: #7CFC00;
  font-size: 35px;
  display:flex;

}


h6 {
  color: #0bf35d;
  font-size: 35px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:10px;
}
h7 {
  color: #02bfaa;
  font-size: 26px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:10px;
}

h8 {
  color: #b2af05;
  font-size: 30px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:18px;
}

a{
color: #7CFC00;
  font-size: 26px;
  text-decoration: none;
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: hidden;
  position: fixed;
  /* here is your hydra screenshot (for mobile) */
    background-size: cover;
}

.centrado{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:50px;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 100%; /* Reducir el ancho para dispositivos móviles */
    }
}

@media only screen and (max-width: 1000px){
.centrado{
  justify-content:center;
  align-items:center;
  margin:10px 100px 10px 420px;
}  
}

@media only screen and (max-width: 1000px){
h1 {
  color: #aa09f0;
  font-size: 24px;
  justify-content:center;
  display:flex;
  align-items:center;
  margin: 10px 20px 20px 20px;
} 
}

@media only screen and (max-width: 1000px){
h3  {
  color: #0f9bcc;
  font-size: 18px;
  display:flex;
  margin:10px 20px 10px 30px;
} 
}
@media only screen and (max-width: 1000px){
h5 {
  color: #7CFC00;
  font-size: 35px;
  display:flex;
  margin: 15px 130px 1px 100px;
} 
}
@media only screen and (max-width: 1000px){
h2, h4 {
  color: #7CFC00;
  font-size: 18px;
  display:flex;
  margin:10px 20px 10px 30px;
} 
}

@media only screen and (max-width: 1500px){
header {
  background: rgba(0,0,0,0.7);
  font-family: 'Play', sans-serif;
  width: 200%;
  position: fixed;
   z-index: 100;
} 
}
@media only screen and (max-width: 1000px){
nav ul li {
  float: left;
  font-family: 'Play', sans-serif;
  margin: 10px 25px 0px -32px;
  font-size: 19px;
}
}
@media only screen and (max-width: 1000px){
nav ul li a {
  display: block;
  font-size:24px;
  color: #ffffff;
  padding: 20px;
  transition:0.5s;
}
}
@media only screen and (max-width: 1500px){
h5 a {
  color: #7CFC00;
  font-size: 18px;
  display:flex;
  margin:10px 20px 10px 0px;
  } 
}
@media only screen and (max-width: 1500px){
h6 a {
  color: #aa09f0;
  font-size: 18px;
  display:flex;
  margin:10px 20px 10px 0px;
  } 
}

img{
  width: 1920px;
  height: 1080px;
  margin: 30px 10px 10px 100px;
  position: center;
  justify-content:center;
}

@media only screen and (max-width: 1000px){
img{
  width: 340px;
  height: 270px;
  margin: 30px 10px -10px -450px;
  position: center;
  justify-content:center;
} 
}


header {
  background: rgba(0,0,0,0.7);
  font-family: 'Play', sans-serif;
  width: 100%;
  margin-top:-10px;
  position: fixed;
  z-index: 100;
}

nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  font-family: 'Play', sans-serif;
  font-size: 30px;
}
nav ul li a {
  display: block;
  padding: 10px;
  color: #ffffff;
  transition:0.5s;
}
nav ul li:hover {
  background: #aa09f0;}

.title {
  color: #e403be;
  font-family: 'Play', sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 105%;
  margin: 0;
}

.footer{
background:rgba(0,0,0,0);
padding:10px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:0.5% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#ffffff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:1.5em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:center;
padding:6%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}

.contenedor-galeria{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin:auto;
   
}

.galeria__img{
  width: 300px;
  height: 200px;
  margin-bottom: 30px;
  object-fit: cover;
}